vti_encoding:SR|utf8-nl
vti_author:SR|6CEC\\lijunhao
vti_modifiedby:SR|6CEC\\lijunhao
vti_timelastmodified:TW|17 Apr 2015 15:06:25 -0000
vti_timecreated:TR|06 Apr 2015 23:32:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|site_map/default.html master.dwt photo_gallery/default.html information_links/default.html house3.html house4.html house5.html default.html contact/default.html house1.html house2.html
vti_nexttolasttimemodified:TW|17 Apr 2015 15:06:25 -0000
vti_cacheddtm:TX|17 Apr 2015 15:06:25 -0000
vti_filesize:IR|2919
vti_cachedlinkinfo:VX|Q|layout.css S|../images/bkgd_tile.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/bkgd_tile.gif
